* {
  padding: 0;
  margin: 0; }

  

/*MENU*/
header {
 
  background-position: center;
  background-size: cover; }


  .navbar-toggler-icon {
  color: #fff; }


  .menu {
      background: linear-gradient(135deg, #0090a2 0, #0090b1 4.55%, #008fbf 9.09%, #008ecc 13.64%, #008cd7 18.18%, #008ae0 22.73%, #0087e6 27.27%, #0084eb 31.82%, #007fed 36.36%, #007aed 40.91%, #0075ea 45.45%, #486ee5 50%, #6e67de 54.55%, #895fd4 59.09%, #9e56c9 63.64%, #b04dbd 68.18%, #be44af 72.73%, #ca3ba0 77.27%, #d23490 81.82%, #d82e80 86.36%, #dc2d70 90.91%, #dd2f60 95.45%, #dc3451 100%);
      padding: 10px 0px; }
    
    .menu a {
      color: #232323; }

    main {

      margin: 0%;
    }
    
    .navbar-toggler-icon {
      color: #fff; }
    
    /*BANNER SECTION*/
    .portada {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      background-image: url(./img/guitars-2912447.jpg);}
      

main {

  
margin-top: 0px;
background-color: black;

}

  /*FOOTER*/
footer {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px; 
  background-color: black;}


  footer {

      color: white;
      
  }

  footer a {

    list-style: none;
  }
  
  .my-element {
    display: inline-block;
    margin: 0 0.7rem;
  
    animation: bounce;
    animation-duration: 2s; 
  }

  *{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.contactame {

  padding: 0;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
  
}


h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  flex-direction: row;
  align-items: center;
}
h1:hover span:nth-child(1){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}


.Biografia {

    animation-duration: 3s;
    animation-name: slidein;
   
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
 }
  to {
    margin-left: 0%;
    width: 100%;
 }
}

.PortadaMusica {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0%;
  color: white;
  background-image: url(./img/fondoMusica.png);

}










